<#@ template debug="false" hostspecific="true" language="C#" #>
<#@ assembly name="System.Core" #>
<#@ assembly name="EnvDTE" #>
<#@ import namespace="System.Linq" #>
<#@ import namespace="System.Text" #>
<#@ import namespace="System.Collections.Generic" #>
<#@ import namespace="System.IO" #>
<#@ output extension=".cs" #>
<# var lines=File.ReadLines(this.Host.ResolvePath("TextTemplate1.cs")); #>
<# foreach(var line in lines){ #>
<#= line #>
<# } #>